<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/client.js" defer></script>
    <link rel="stylesheet" href ="./css/style.css">
        
    </head>
    <body>
        <div>
            <form id = navigator>
                <input class="NavBarButton" type = "submit" value = "Soil Moisture Sensor" formaction = "/soilmoisture">
                <input class="NavBarButton" type = "submit" value = "Moisture Sensor" formaction = "/moisture">
                <input class="NavBarButton" type = "submit" value = "Light Sensor" formaction = "/light"> 
                <input class="NavBarButton" type = "submit" value = "Temperature Sensor" formaction = "/temperature">
            </form>
        </div>
        <h1>Soil Moisture Sensor</h1>
        <p>The current data is : </p> 
        <p id="affiche_soilhumidity"></p>

            <!-- Add a canvas for the chart -->
    <canvas id="SoilmoistureChart" width="200" height="50"></canvas>

    <script>
        // Initialize the chart
        var ctx = document.getElementById('SoilmoistureChart').getContext('2d');
        var SoilmoistureChart = new Chart(ctx, {
            type: 'line',
            // X-axis labels (time), Y-axis data (light values)
            data: {labels: [],  datasets: [{label: 'Soil Moisture', borderColor: 'lightblue',data: [],}]},
            options: {
                scales: {
                    x: {title: {display: true,text: 'Time'}},
                    y: {title: {display: true,text: 'Humidity'}}}
                }
        });

        // Load data from json
        fetch('/thing.json')
            .then(response => response.json())
            .then(data => {

                SoilmoistureChart.data.labels = Array.from({ length: data.Soilmoisture.length }, (_, i) => i + 1);
                SoilmoistureChart.data.datasets[0].data = data.Soilmoisture;
                SoilmoistureChart.update();
            })
            .catch(error => console.error('Error fetching data:', error));


    </script>



    </body>
</html>