<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="/client.js"></script>
    <link rel="stylesheet" href ="./css/style.css">
    </head>
    <body>
        <div>
            <form>
                <input class="NavBarButton" type = "submit" value = "Soil Moisture Sensor" formaction = "/">
                <input class="NavBarButton" type = "submit" value = "Light Sensor" formaction = "/light"> 
                <input class="NavBarButton" type = "submit" value = "Temperature Sensor" formaction = "/temperature">
            </form>
        </div>
        <h1>Temperature Sensor</h1>
        <p id="affiche_temperature"></p>



    </body>
</html>